*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right,rgb(198, 97, 223) , rgb(23, 3, 34)) ;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
}

.form_container{
    background-color: white;
    padding: 50px 60px;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 8px 24px rgb(0,0,0,1);
    animation: fadeIn 3s ease;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}